.row-align-center {
	-fx-alignment: CENTER;
}

.row-align-right {
	-fx-alignment: CENTER-RIGHT;
}

.row-align-left {
	-fx-alignment: CENTER-LEFT;
}

.table-view {
	-fx-padding: 5;
	-fx-font-size: 14;
}

.table-row-cell {
    -fx-cell-size: 30;
}

.validation_error {
    -fx-background-color: rgb(229,115,115);
}

.table-row-cell:green-row .table-cell {
	-fx-background-color: #4cae4c;
	-fx-text-fill: white;
}

.table-row-cell:selected .table-row-cell:green-row {
	-fx-background-color: steelblue;
}

.table-row-cell:yellow-row .table-cell {
    -fx-background-color: #e2f04e;
}

.table-row-cell:orange-row .table-cell {
    -fx-background-color: #f0ad4e;
    -fx-text-fill: black;
}

.table-row-cell:red-row .table-cell {
    -fx-background-color: #d9534f;
    -fx-text-fill: white;
}

.progress-indicator {
	-fx-min-height: 75;
	-fx-max-height: 75;
	-fx-min-width: 75;
	-fx-max-width: 75;
}
